body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(books1.jpg);
}

.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.ak p, .pk p, .k p, .p p {
    line-height: 1.6;
}

h2 {
    color: #333;
}

.button {
    text-align: center;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}
